@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@800&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  --animation-duration: 1s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.graphiql-container {
  border-radius: 10px;
  background-color: rgb(0, 143, 179);
  color: #32a6c2 !important;
}

.title {
  background: none #21252b !important;
}

.editorWrap {
  background: none #21252b;
}

.topBar {
  border-bottom: 1px solid black !important;
  background: none #21252b !important;
}

.variable-editor {
  background: none #21252b !important;
}

.search-box {
  background: none #21252b !important;
}

.CodeMirror-gutters {
  background: none #21252b !important;
}

.doc-explorer-contents {
  background: none #21252b !important;
}

.historyPaneWrap {
  color: black;
}

.history-title {
  padding: 3px 0 3px 3px !important;
}

.doc-explorer-title-bar {
  padding: 3px 0 3px 3px !important;
  background: none #21252b !important;
}

.doc-category-title {
  color: white !important;
  text-align: center !important;
  background: none #21252b !important;
}

.secondary-editor-title {
  border-top: 1px solid black !important;
  border-bottom: 1px solid black !important;
  background: none #21252b !important;
  color: whitesmoke !important;
}

.docExplorerHide {
  color: whitesmoke !important;
}

.variable-editor-title {
  color: whitesmoke !important;
}

.variable-editor {
  color: whitesmoke !important;
}

.secondary-editor {
  color: whitesmoke !important;
}

.CodeMirror-lines {
  color: #21252b !important;
}

.cm-comment {
  color: #21252b !important;
}

.CodeMirror-vscrollbar {
  background: none #21252b !important;
}

.CodeMirror-gutters {
  color: whitesmoke !important;
}

.CodeMirror-gutter {
  color: whitesmoke !important;
}

.CodeMirror-linenumber {
  color: whitesmoke !important;
}

.variable-editor-title {
  background: none#21252b !important;
}

.search-box {
  background-color: #21252b;
}

.toolbar {
  background: none #21252b !important;
}

.toolbar-button {
  color: whitesmoke !important;
  box-shadow: none !important;
  background: none #a8a8a8 !important;
}

.execute-button {
  color: whitesmoke !important;
  box-shadow: none !important;
  background: none #a8a8a8 !important;
}

.docExplorerWrap {
  background: none #21252b !important;
}

.CodeMirror-code {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.CodeMirror-scroll {
  background-color: rgb(230, 230, 230);
}

.row {
  display: flex;
  flex-direction: row;
  gap: 10%;
  width: 100%;
  height: 500px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate,
.rotate-delay {
  animation-name: rotate;
  animation-duration: var(--animation-duration);
}

.rotate-delay {
  animation-delay: var(--animation-duration);
}

.rotate {
  transition-delay: var(--animation-duration);
}

.LogoNavBarOpen {
  bottom: 0;
}

.LogoNavBarClosed {
  top: 0;
}

.Logo {
  background-color: transparent;
  border: none;
  display: inline;
  flex-wrap: wrap;
  position: fixed;
  left: 0;
  margin-left: 10px;
  width: 100px;
  height: 100px;
  transition-duration: 1s;
  z-index: 10;
}

.LogoImage {
  max-width: 100%;
  max-height: 100%;
}

.navbar {
  left: 23px;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  bottom: 150px;
  justify-content: space-between;
  transition: height 1s;
  padding: 0 17px;
  z-index: 9;
}

ul {
  list-style-type: none;
}

.info {
  color: whitesmoke;
  font-family: 'Turret Road', cursive;
  font-size: 28px;
}

#secondary-editor-title div {
  color: whitesmoke !important;
}

.DbGraph {
  width: 80%;
}

.navitemicon {
  width: 50px;
  height: 50px;
}

.iconblock {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: blur(8px);
  background-color: #00708b;
  z-index: -1;
  border-radius: 50%;
  margin: -6px;
}

.nav-item {
  border-radius: 5px;
  width: 100%;
  position: relative;
}

.navbar-nav {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}

.nav-item + .nav-item {
  margin-top: 16px;
}

.inputColumn {
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.inputButton {
  background-color: #008cba;
  width: 30%;
  height: 8%;
  border-radius: 10px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 2px;
  cursor: pointer;
  font: sans-serif;
}

.linksButtons {
  display: flex;
  gap: 10%;
  width: 100%;
}

.githubButton {
  padding: 10%;
  display: inline-block;
  background-color: darkviolet;
  border-radius: 7px;
}

.infoButton {
  padding: 10%;
  border-radius: 7px;
}

.graphButton {
  padding: 10%;
  border-radius: 7px;
}

textarea {
  width: 130%;
  height: 50%;
  padding: 7px 7px;
  box-sizing: border-box;
  border: 1px black solid;
  border-radius: 10px;
  background-color: #a8a8a8;
  color: black;
  resize: none;
  margin-right: 0;
  margin-bottom: 0;
}

.connectButton {
  height: 33px;
  border-radius: 5px;
  background-color: #32a6c2;
  border: 1px black solid;
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.connectButton:hover {
  background-color: #8ca543;
}

.windowInput {
  flex: 1;
  height: 70px;
  background-color: #21252b;
  align-self: flex-end;
  position: fixed;
  bottom: -30px;
  right: 130px;
}

.windowOutput {
  flex: 2;
  background-color: aquamarine;
  border-radius: 10px;
  border: 1px black solid;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: #000000b6;
  z-index: 10;
}

@keyframes slide-in {
  100% {
    transform: translate(-50%, -50%);
  }
}
.alert {
  padding: 25px 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  background-color: #008cba;
  transform: translate(-50%, -400%);
  border-radius: 10px;

  animation: slide-in 0.75s forwards;
}
.alert__title {
  font-size: 2rem;
}

.alert__message {
  font-size: 1.5rem;
}

.alert__button {
  display: block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #32a6c2;
  border: 1px black solid;
}
